.App {
  text-align: center;
  
}

body {
  background-color: lightgray;
}

b.title { color: yellow;
  font-size: 80px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

b {
  color: forestgreen;

}

p.news-title {
  font-family: Helvetica;

}

body {
  background-color: lightgray;
  text-align: center;
}

h1.or {
  margin-top: 25px;
  font-size: 45px;
}
h1.welcome {

  margin-bottom: 100px;

}
p.news-title {
 
  margin-bottom: 5px;
}

p {
  font-size: 25px;
}

.welcome {
  margin-top : 50px;
  margin-bottom: 5px;
}

#log{
  background-color: teal;
  color: white;
  border-radius: 8px;
  width: 110px;
  height: 33px;
  position: relative;
  text-align: center;
  margin-left: 0px;
  margin-top: 15px;
}

p.username {
  color: green;
}

p{
  font-size: 28px;
}

/* span {
  margin-top: 500px;} */


#login {
  text-align: center;
  margin-top: 100px;

}

.top-1 {
  position: relative;
  right: 350px;
text-align: center;
bottom: 60px;
}
.top {
  position: relative;
  right: 350px;
}
.archive-page{
  font-size: 35px;
}

.archive-card {

  font-size: 19px;
  text-align: left;
  margin-left: 40px;
}

.archive-card-1 {
  font-size: 15px;
  text-align: left;
  margin-left: 55px;
}

.divider-card {
  border: black 1px solid;
  width: 80%;
  border-radius: 10px;
  margin-left: 50px;
  background-color: white;
}

